*{
  box-sizing: border-box;
}
body {
  margin: 0;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
  background-color: darkslategrey;
}

.game-area {
  position: relative;
  width: 900px;
  height: 650px;

  margin: 40px;

  background-image: url("assets/bgg.jpg");
  background-size: cover;

  border: 3px solid rgba(255,255,255,0.3);
  border-radius: 12px;

  box-shadow:
    0 0 10px #00ffcc,
    0 0 25px #00aaff,
    inset 0 0 10px rgba(255,255,255,0.1);

  animation: borderGlow 2s infinite alternate;
}

@keyframes borderGlow {
  0% {
    box-shadow: 0 0 10px #00ffcc;
  }
  100% {
    box-shadow: 0 0 25px #00aaff;
  }
}

.snake {
  width: 20px;
  height: 20px;

  /* background-image: url("assets/snake.png"); */
  background-size: cover;

  position: absolute;
}

.food {
  width: 25px;
  height: 25px;

  background-image: url("assets/apple.png");
  background-size: cover;

  position: absolute;
}

.score {
  position: absolute;
  top: 20px;
  left: 20px;

  width: 160px;
  height: 70px;

  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);

  border-radius: 12px;

  color: white;
  font-size: 22px;
  font-weight: bold;
}
.score-pop {
  animation: pop 0.3s ease;
}

@keyframes pop {
  0% { transform: scale(1); }
  50% { transform: scale(1.3); }
  100% { transform: scale(1); }
}
.score p {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
  color: white;
}
.start-page {
  position: absolute;
  width: 100%;
  height: 100%;

  background: rgba(0,0,0,0.8);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  z-index: 999;
}

  .start-page input[type="text"] {
    margin-bottom: 20px;
    padding: 8px;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  .start-page button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4600f6;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
 .player-name {
  position: absolute;
  top: 100px;   /* تحت السكور */
  left: 20px;

  width: 160px;
  height: 50px;

  background: rgba(255,255,255,0.15);
  border: 1px solid rgba(255,255,255,0.3);

  border-radius: 10px;

  color: white;
  font-size: 16px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.game-over {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    

  }

  .game-over h1 {
    font-size: 40px;
    color: #ffffff;
    margin-bottom: 30px;
    text-align: center;
    padding-top: 200px;
    font-family:Georgia, 'Times New Roman', Times, serif;
  }

  .game-over p {
    font-size: 24px;
    color: #ffffff;
    margin-bottom: 30px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

  }

  .game-over button {
padding: 10px 20px;
font-size: 24px;
background-color:#4800ff ;
color: white;
font-family:Georgia, 'Times New Roman', Times, serif;
border: none;
border-radius: 5px;
cursor: pointer;
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
}
.game-over button:hover{
  background-color: rgb(41, 0, 143);
}
.shake {
  animation: shake 0.4s ease;
  will-change: transform;
}

@keyframes shake {
  0% { transform: translate3d(0,0,0); }
  25% { transform: translate3d(-5px,5px,0); }
  50% { transform: translate3d(5px,-5px,0); }
  75% { transform: translate3d(-5px,5px,0); }
  100% { transform: translate3d(0,0,0); }
}
